.grid-box .container {
  display: grid;
  grid-gap: 5px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f" ;
}
.grid-box .container2 {
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c m m"
    "f f f f f f f f f f f f" ;

}
.grid-box .container3 {
  grid-template-areas:
    ". h h h h h h h h h h ."
    "c c c c c c c c c c m m"
    ". f f f f f f f f f f ." ;
}